<a href="https://colab.research.google.com/github/xie186/pandas_essential_train/blob/master/pandas_essential_training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using pandas

In [ ]:
import pandas as pd

`pd.<tab>`

In [ ]:
pd.__version__

'1.0.5'

In [ ]:
pd.show_versions()

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)
/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.9.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.19.112+
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.0.5
numpy            : 1.18.5
pytz             : 2018.9
dateutil         : 2.8.1
pip              : 19.3.1
setuptools       : 50.3.0
Cython           : 0.29.21
pytest           : 3.6.4
hypothesis       : None
sphinx           : 1.8.5
blosc            : None
feather          : 0.4.1
xlsxwriter       : None
lxml.etree       : 4.2.6
html5lib         : 1.0.1
pymysql          : None
psycopg2         : 2.7.6.1 (dt dec pq3 ext lo64)
jinja2           : 2.11.2
IPython          : 5.5.0
pandas_datareader: 0.8.1
bs4              : 4.6.3
bottleneck       : 1.3.2
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.2.6
matplotlib       : 3.2.2
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 2.5.9
pandas_gbq       : 0.11.0
pyarrow          : 0.14.1
pytables         : None
pytest           : 3.6.4
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : 1.3.19
tables           : 3.4.4
tabulate         : 0.8.7
xarray           : 0.15.1
xlrd             : 1.1.0
xlwt             : 1.3.0
xlsxwriter       : None
numba            : 0.48.0

In [ ]:
pd.show_versions?

# Dataframe

Datafram is like a two-dimentional

In [2]:
tab =pd.read_csv("https://raw.githubusercontent.com/xie186/pandas_essential_train/master/olympics.csv", skiprows=4, header='infer')
tab.head()

     City  Edition     Sport  ...                       Event Event_gender   Medal
0  Athens     1896  Aquatics  ...              100m freestyle            M    Gold
1  Athens     1896  Aquatics  ...              100m freestyle            M  Silver
2  Athens     1896  Aquatics  ...  100m freestyle for sailors            M  Bronze
3  Athens     1896  Aquatics  ...  100m freestyle for sailors            M    Gold
4  Athens     1896  Aquatics  ...  100m freestyle for sailors            M  Silver

[5 rows x 10 columns]

In [ ]:
tab

          City  Edition  ... Event_gender   Medal
0       Athens     1896  ...            M    Gold
1       Athens     1896  ...            M  Silver
2       Athens     1896  ...            M  Bronze
3       Athens     1896  ...            M    Gold
4       Athens     1896  ...            M  Silver
...        ...      ...  ...          ...     ...
29211  Beijing     2008  ...            M  Silver
29212  Beijing     2008  ...            M  Bronze
29213  Beijing     2008  ...            M  Bronze
29214  Beijing     2008  ...            M    Gold
29215  Beijing     2008  ...            M  Silver

[29216 rows x 10 columns]

# Series

A Series is a one-dimensial array of index data

Accessing a single Series



```
# This is formatted as code
```

In [ ]:
tab['City']

0         Athens
1         Athens
2         Athens
3         Athens
4         Athens
          ...
29211    Beijing
29212    Beijing
29213    Beijing
29214    Beijing
29215    Beijing
Name: City, Length: 29216, dtype: object

Accessing  multiple Series

In [ ]:
type(tab)

pandas.core.frame.DataFrame

In [ ]:
type(tab.City)

pandas.core.series.Series

In [ ]:
col_name = ["Athlete", "City"]
type(tab[col_name])

pandas.core.frame.DataFrame

## Challenge

1. List `olympic` dataframe

In [3]:
import pandas as pd
tab =pd.read_csv("https://raw.githubusercontent.com/xie186/pandas_essential_train/master/olympics.csv", skiprows=4, header='infer')
tab

          City  Edition  ... Event_gender   Medal
0       Athens     1896  ...            M    Gold
1       Athens     1896  ...            M  Silver
2       Athens     1896  ...            M  Bronze
3       Athens     1896  ...            M    Gold
4       Athens     1896  ...            M  Silver
...        ...      ...  ...          ...     ...
29211  Beijing     2008  ...            M  Silver
29212  Beijing     2008  ...            M  Bronze
29213  Beijing     2008  ...            M  Bronze
29214  Beijing     2008  ...            M    Gold
29215  Beijing     2008  ...            M  Silver

[29216 rows x 10 columns]

2. List only the NOC colum using ['..'] and the dot notation

3. List the edition, City and Athete name. What type is this object?